body {
    color:#058780;
    font-size:14px;
    font-family: 'Futura', Arial, sans-serif;
}

header {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-size:1.1em;
}

h1 {
    color:#f29b7b;

}


h2 {
    color:#f29b7b;
    font-weight:lighter;
}

.holder-type {
    color: #05bab0;
    margin-top: 10px;
}

hr {
    color:hotpink;
}

a {
    color:#f2561d;
    text-decoration:none;
}

footer {

    font-family:'Courier New', Courier, monospace;
}